div {
    width: 500px;
    background-color: yellow;
    margin: auto;
}

li {
    font-size: 25px;
    color: red;
}

img {
    display: block;
    width: 400px;
    margin: auto;
}

a:link {
    color: blue;
} 

a:visited{
    color: forestgreen;
}
